﻿@model BlogChallenge.Models.PostViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Crear nueva entrada</h1>

<hr />

@using (Html.BeginForm("Create", "Posts", FormMethod.Post))
{
    <div class="form-group" style="width:20%">
        @Html.LabelFor(x => x.Id, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
        @Html.ValidationSummary(true, null, new { @class = "text-danger" })
    </div>
    <div class="form-group" style="width:35% ; float:left">
        @Html.LabelFor(x => x.Titulo, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Titulo, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Titulo, null, new { @class = "text-danger" })
    </div>
    <div class="form-group" style="width:30%; margin-left:5% ; float:left">
        @Html.LabelFor(x => x.Categoria, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Categoria, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Categoria, null, new { @class = "text-danger" })
    </div>
    <div class="form-group" style="margin-top:11%; width:70%">
        @Html.LabelFor(x => x.Contenido, new { @class = "control-label" })
        @Html.TextAreaFor(x => x.Contenido, new { @class = "form-control", @style = "height:20em", })
        @Html.ValidationMessageFor(x => x.Contenido, null, new { @class = "text-danger" })
    </div>
    <div class="form-group" style="width:70%">
        @Html.LabelFor(x => x.Imagen, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Imagen, new { @class = "form-control", @placeholder = "Ingrese la URL de la iamgen" })

    </div>
    <div class="form-group">
        <input type="submit" value="Publicar" class="btn btn-info search-button" />
    </div>
}


