﻿@model BlogChallenge.Models.PostViewModel

@{
    ViewData["Title"] = "Delete";
}


<h4>¿Desea eliminar este post?</h4>
<div>
    <div>
        <hr />
        <h4>@Html.DisplayFor(moodel => Model.Titulo)</h4>
        <dl class="row" style="margin-top:1em">
            <dd class="col-sm-10">
                @Html.DisplayTextFor(model => model.Contenido)
            </dd>
        </dl>
    </div>
    <div>
        <img src="@Html.DisplayFor(model => model.Imagen)" />
    </div>
    <div style="float:left; margin-right:2em">
        <span style="font-weight:700">@Html.DisplayName("ID"): </span><span>@Html.DisplayFor(model => model.Id)</span>
    </div>
    <div style="float:left; margin-right:2em">
        <span style="font-weight:700">@Html.DisplayNameFor(model => model.Categoria): </span><span>@Html.DisplayFor(model => model.Categoria)</span>
    </div>
    <div>
        <span style="font-weight:700">@Html.DisplayNameFor(model => model.FechaDeCreacion): </span><span>@Html.DisplayFor(model => model.FechaDeCreacion).</span>
    </div>
    <form asp-action="Delete" style="margin-top:2em">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
