﻿@model BlogChallenge.Models.PostViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(moodel => Model.Titulo)</h1>

<div>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            @Html.DisplayTextFor(model => model.Contenido)
        </dd>
    </dl>
</div>
<div>
    <img src="@Html.DisplayFor(model => model.Imagen)" />
</div>
<div style="float:left; margin-right:2em">
    <span style="font-weight:700">@Html.DisplayName("ID"): </span><span>@Html.DisplayFor(model => model.Id)</span>
</div>
<div style="float:left; margin-right:2em">
    <span style="font-weight:700">@Html.DisplayNameFor(model => model.Categoria): </span><span>@Html.DisplayFor(model => model.Categoria)</span>
</div>
<div>
    <span style="font-weight:700">@Html.DisplayNameFor(model => model.FechaDeCreacion): </span><span>@Html.DisplayFor(model => model.FechaDeCreacion).</span>
</div>

<div style="margin-top:2em">
    <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-info search-button">Editar</a>
</div>
