﻿@model BlogChallenge.Models.PostViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar post</h1>

<div class="container" style="padding:0">

    @using (Html.BeginForm("Update", "Posts", FormMethod.Get))
    {
        <label class="control-label" style="margin-top:2em; font-weight:700">Buscar Post</label>

        <div class="form-grup">
            <input type="text" class="form-control search-input" name="id" placeholder="ID del post" style="width:25%; float: left">
            <button type="submit" class="btn btn-info search-button" style="margin-left:1%">
                Buscar
            </button>
        </div>

    }

</div>
@using (Html.BeginForm("Update", "Posts", FormMethod.Post))
{
    <div class="form-group" style="width:45%; margin-top:2em">
        @Html.LabelFor(x => x.Titulo, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Titulo, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Titulo, null, new { @class = "text-danger" })
    </div>
    <div class="form-group" style="margin-top:2em">
        @Html.LabelFor(x => x.Contenido, new { @class = "control-label" })
        @Html.TextAreaFor(x => x.Contenido, new { @class = "form-control", @style = "height:20em; width:70%" })
        @Html.ValidationMessageFor(x => x.Contenido, null, new { @class = "text-danger" })
    </div>
    <div class="form-group" style="margin-top:2em">
        <input type="submit" class="btn btn-info search-button" value="Editar" />
    </div>
}
