﻿@model IEnumerable<BlogChallenge.Models.PostViewModel>

@{
    ViewData["Title"] = "Home";
}

<h1>Inicio</h1>


<div class="container" style="padding:0">

    @using (Html.BeginForm("Details", "Posts", FormMethod.Get))
    {
        <label class="control-label" style="margin-top:2em; font-weight:700">Buscar Post</label>

        <div class="form-grup">
            <input type="text" class="form-control search-input" name="id" placeholder="ID del post" style="width:25%; float: left">
            <button type="submit" class="btn btn-info search-button" style="margin-left:1%">
                Buscar
            </button>
        </div>
        @Html.ValidationSummary(true)
    }

</div>

<table class="table" style="margin-top:2em">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("ID")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td style="float: right">
                    <a  style="color:#17a2b8" asp-action="Update" asp-route-id="@item.Id">Editar</a> |
                    <a style="color:#17a2b8" asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                    <a style="color:#17a2b8" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
