﻿@model BlogChallenge.Models.PostViewModel

@{
    ViewData["Title"] = "Edit";
}


<h1>Editar post</h1>


@using (Html.BeginForm("Update", "Posts", FormMethod.Post))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group" style="width:45%; margin-top:2em">
        @Html.LabelFor(x => x.Titulo, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Titulo, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Titulo, null, new { @class = "text-danger" })
    </div>
    <div class="form-group" style="margin-top:2em">
        @Html.LabelFor(x => x.Contenido, new { @class = "control-label" })
        @Html.TextAreaFor(x => x.Contenido, new { @class = "form-control", @style = "height:20em; width:70%" })
        @Html.ValidationMessageFor(x => x.Contenido, null, new { @class = "text-danger" })
    </div>
    <div class="form-group" style="margin-top:2em">
        <input type="submit" class="btn btn-info search-button" value="Editar" />
    </div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}